@import '../abstract/variaveis';

.mensagem {
    padding: 20px;
    img {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 556px;
        width: 100%;
    }
    .texto {
        text-align: center;
        font-size: $tamanho-do-texto / 2.5;
        color: $cor-primaria;
        p {
            padding: 0 20px;
        }
    }
}